<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>vs</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="layout.css">
    <link rel="stylesheet" href="filterform.css">
<style>

</style>
</head>
<body>
    <header class="Topnav">
        <div class="container-fluid">BRAND</div>
    </header>
    <main>
        <nav id="leftNav" class="LeftNav"></nav>
        <div class="MainArea">
            <div id="app">
                <br />
                <div class="filterform">
                    <div class="filterform-top" v-bind:class="{open:tagsExpanded}">
                        <div class="clearfix filterform-tags" ref="fftags">
                            <span v-for="(item,index) in selected" :key="index" class="filterform-tag">{{item.value}}
                                <button type="button" class="btn btn-link btn-xs" v-on:click="removeTag(item)">
                                    <img src="Content/img/x-circle.svg" alt="Remove" style="width:20px;height:20px;"/>
                                </button>
                            </span>
                            <span v-for="(item,index) in selectedZipcodes" :key="index" class="filterform-tag">{{item}}
                                <button type="button" class="btn btn-link btn-xs" v-on:click="removeZip(item)">
                                    <img src="Content/img/x-circle.svg" alt="Remove" style="width:20px;height:20px;"/>
                                </button>
                            </span>
                            <button class="btn btn-tag btn-sm" v-show="tagsOverflow" v-on:click="tagsExpanded = !tagsExpanded">
                                <span v-text="viewAllLabel"></span>
                            </button>
                        </div>
                    </div>
                    <div class="filterform-selects">
                        <div class="filterform-select"><div class="filterform-group"><label class="filterform-label">Brand</label>   <v-select multiple :on-change="vselectChange" :options="brands"     v-model="selectedBrands"></v-select></div>   </div>
                        <div class="filterform-select"><div class="filterform-group"><label class="filterform-label">State</label>   <v-select multiple :on-change="vselectChange" :options="states"     v-model="selectedStates"></v-select></div>   </div>
                        <div class="filterform-select"><div class="filterform-group"><label class="filterform-label">City</label>    <v-select multiple :on-change="vselectChange" :options="cities"     v-model="selectedCities"></v-select></div>    </div>
                        <div class="filterform-select"><div class="filterform-group"><label class="filterform-label">ZIP Code</label>
                            <v-select multiple :on-change="vselectChange" :options="zipcodes"   v-model="selectedZipcodes" push-tags taggable>
                                <span slot="no-options">Enter a zipcode</span>
                            </v-select>
                        </div></div>
                        <div class="filterform-select"><div class="filterform-group"><label class="filterform-label">Industry</label><v-select multiple :on-change="vselectChange" :options="industries" v-model="selectedIndustries"></v-select></div></div>

                    </div>
                    <div class="filterform-btns">
                        <button type="button" class="btn btn-white" v-on:click="clearFilters">Clear Filters</button>
                        <button type="button" class="btn btn-dark">Apply</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer">
        <p></p>
        <p class="container-fluid">footer</p>
        <p></p>
    </footer>

<script scr="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
<script src="https://unpkg.com/vue-select@latest"></script>
<script src="https://unpkg.com/lodash@latest"></script>
<script src="add-one.js"></script>
<script src="app.js"></script>
</body>
</html>
